.checkout__page {
    width: 650px;
    padding: 0  20px;
    background-color: aqua;
    height: 300px;
}
.form__checkout {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
