#root {
    text-align: center;
    background-color: rgb(205, 160, 209);
    border: 2px solid black;
    margin: 80px 250px;
}

.card {
    padding: 5px;
    background-color: #c3e041;
    border: 2px solid black;
}