.header__container {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.507);
    color: #fff;

}

.header__container--content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    padding: 25px;
}

.header__shop--cart {
    width: 25px;
    height: 25px;
}


.header__star {
    margin-left: 85%;
    
}

.star__counter
 {
    position: absolute;
    right: 118px;
    top: 35px;
}

.counter__output {
    position: absolute;
    right: 35px;
    top: 35px;

}