.btn {
    color:#fff;
    padding: 10px 25px;
    border-radius: 15px;
    margin: 50px;
    text-transform: capitalize;
    background-color: #416dea;
}

.btn__good {
    color:#fff;
    border: solid #e74c3c 1px;
    background-color: #b3382c;
    border-radius: 5px;
    padding: 15px 35px;
    margin: 25px;
    margin-left: 140px;
}

.btn_nogood {
    color:#fff;
    border: solid #e74c3c 1px !important;
    background-color: #b3382c !important;
    border-radius: 5px;
    padding: 15px 35px;
    margin: 20px;
}

.modal__title {
    background-color: #5a4f4f85;
    margin: 0;
    color: #fff;
    padding: 15px;
}

.modal {
    border: solid black 1px;
    border-radius: 5px;
    width: 550px;
    margin: 250px 50px 50px;
    
}

.modal__close {
    padding: 10px;
    position: relative;
    bottom: 183px;
    left: 90px;
    background-color: #b3382c;
}

.modal__text {
    color: #fff;
    padding: 15px;
    text-align: center;
}
.container {
    height: 100vh;
    width: 100%;
}

.overlay{
    background-color: #302c2cbb;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modal1 {
    background-color: #e74c3c;

}

 .modal2 {
    background-color: rgb(36, 105, 15);
}

.btn__styles {
    background-color: rgb(103, 255, 141);
    border: 1px solid rgb(103, 255, 141);
}
