.cat__card {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 350px;
    height: 550px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  

}

.cats__pic {
    width: 250px;
    height: 280px;
    border-radius: 25px;
    padding: 15px 10px;
    margin: 20px 10px 0;

}

.description__container {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.description__container--item {
    font-size: 16px;
    font-weight: 400;
    margin:  10px 0;
    &--name {
        font-weight: 700;
        text-decoration: underline;

    }
    &--color {
        color: #7f7070;
    }
    &--price {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 0.9em;
        color: #000;
      
    }

}

.controllers__container {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}



.svg__star {
    margin-right: 20px;
    stroke: black;
}